@import url('ttps://fonts.googleapis.com/css?family=Oleo+Script|Roboto+Condensed|Fjalla+One')
color1 = #214C52
color2 = #20B9C6
color3 = #F7BE5C
blanco = #FFFFFF
texto1 = #666666
texto2 = #ffffff
titulos = #333333
titulos1 = #999999
body
	font-family 'Roboto Condensed', 'sans-serif'
h1 h2 h3 h4 h5 p
	
//el layout de todo el header
header
	background url(../../assets/img/header.jpg) 100% 0 fixed
	-webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
	margin 0 auto 
	position relative
	padding 280px 0
	height auto
header h1
	font-size 4em
	color color2
	text-transform uppercase
	font-family 'Oleo Script', cursive
	padding-bottom .5em
header h2
	font-size 2.5em 
	color blanco
	padding-bottom .5em
header p 
	color blanco
	padding-bottom .5em
header .boton_y
	display inline-block
	border-radius 10px
	border 2px solid color3
	height 35px
	line-height 35px
	padding 0 1em
	padding-right 1em
	padding-bottom 1em
	color blanco
	margin 1em
	text-transform uppercase
header .boton_y:hover
	background-color color3
	cursor pointer
header .boton_b
	display inline-block
	border-radius 10px
	border 2px solid color2
	height 35px
	line-height 35px
	padding 0 1em
	padding-right 1em
	padding-bottom .3em
	color blanco
	margin 1em
	text-transform uppercase
header .boton_b:hover
	background-color color2
	cursor pointer
header .img_header
	width auto
	padding 1em
	padding-bottom 3em
	float right
.t_header
	padding 2em
	padding-left 0
	text-align center
//el menu principal
nav
	padding 1em
	padding-bottom 3em
	display block
.logo
	width 150px
.menu
	float right
	display inline
.menu ul 
	display block
.menu ul li 
	display inline-block
.menu ul li a 
	display block
	height 20px
	padding 0 .7em
	line-height 20px
	font-size 1em
	color blanco
	text-transform capitalize
.menu ul li a:active
	color color3
.menu ul li a:hover
	text-decoration none
	color color3
	cursor pointer
	border-bottom 2px solid color3
// servicios todo el contenedor
.servicios
	background-color blanco
	margin 0 auto 
	position relative 
	padding 50px 0
	height auto
	text-align center
	color titulo
.servicios h2
	padding-bottom .5em
	border-bottom 2px solid color3
.servicios h3 
	font-size 1em
	padding 10px
	color texto1
.s_contenedor
	display inline-block
	padding-bottom 1em
	padding .5em
	text-align center
	border-radius .5em
	height 250px
	margin 10px
	position relative
	-webkit-box-shadow 1px 0px 15px -1px rgba(0,0,0,0.49)
	-moz-box-shadow 1px 0px 15px -1px rgba(0,0,0,0.49)
	box-shadow 1px 0px 15px -1px rgba(0,0,0,0.49)
.s_contenedor .dos
	width 100%
	height 250px
.s_contenedor h3 
	font-size 1em
	text-transform uppercase
	color titulos1
.s_contenedor p 
	text-align left
	font-size 12px
	font-style italic 
	color texto1
.s_contenedor span 
	color titulos
	font-style bold
.s_fa
	color color2
	border-bottom 2px solid color2
	padding-bottom .2em
.s_fa1
	color color3
	border-bottom 2px solid color3
	padding-bottom .2em
//productos caroucel con texto responsiv
.cotizacion
	background-color color1
	margin 0 auto 
	padding 50px 0
	height auto
	text-align center
	color color3
	width 100%
	text-decoration bold
.cotizacion h2
	font-family 'Oleo Script', cursive
	text-decoration bold
	line-height 2em
.cotizacion h4
	color blanco
.boton_co
	background-color color2
	font-size 16px
	display inline-block
	border-radius 10px
	border 2px solid color2
	width 250px
	height 55px
	line-height 55px
	padding 0 1em
	padding-right 1em
	padding-bottom 1em
	color blanco
	margin 1em
	text-transform uppercase
.boton_co:hover
	background-color color1
	border 2px solid color2
	cursor pointer
.s_fa_co
	color blanco
	padding .1em
.portafolio
	background-color blanco
	margin 0 auto 
	position relative 
	padding 50px 0
	height auto
	text-align center
	color titulo
.portafolio h2
	padding-bottom .5em
	border-bottom 2px solid color3
.portafolio h3 
	font-size 1em
	padding 10px
	color texto1
	



